/* ============================================================================
 * # Base
 * ============================================================================ */

@theme {
  /* ============================================================================ 
   * Primitives 
   * ============================================================================ */
  --font-montserrat: "Montserrat", sans-serif;
  --font-noto-serif-georgian: "Noto Serif Georgian", serif;
}

@theme {
  /* ============================================================================ 
   * Semantics 
   * ============================================================================ */
  --font-primary: var(--font-montserrat);
  --font-secondary: var(--font-noto-serif-georgian);
}
